@import url('https://fonts.googleapis.com/css?family=Hanalei+Fill');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Stalinist+One');
body {
	background-image: url("https://vignette.wikia.nocookie.net/wikicraftminecraft/images/5/50/Wiki-background/revision/latest?cb=20141003183059");
	background-size: cover;
	font-family: 'Stalinist One', cursive;
	text-align: center;
	color: white;
}
h1 {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 300%;
	text-align: center;
	color: white;
}

p {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 200%;
	text-align: center;
	color: white;
}
.next-button {
	font-family: 'Gloria Hallelujah', cursive;
	border-radius: 4px;
	border-color: white;
	color: white;
	font-size: 125%;  
	width: 10%;
	background-color: transparent;
	position: default;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.next-button:hover {
	background-color: green;
	opacity: .4;
	cursor: grab;
}
.topnav {
    background-color: #333;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
a {
	color: white;
	font-style: none;
}